* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom , 
    #F9DFDF ,#F5AFAF, #FD7979);
}

.passwordContainer {
    padding: 0vw 1vw;
    box-sizing: border-box;
    height: 95vh;
    background: transparent;
    border: 2px solid #76153C;
    border-radius: .8rem;
    box-shadow: 5px 5px 10px #76153C ,
    -5px -5px 10px #76153C;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.passwordContainer h1 {
    font-size: 3vw;
}

#PassBox {
    width: 25vw;
    height: 8vh;
    outline: none;
    border: none;
    border-radius: .4rem;
    background-color: #fff;
}

#range3 {
    width: 20vw;
}

.options {
    display: flex;
    gap: 8vw ;
    justify-content: space-between;
    padding: 0 1vw;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
}

input[type="checkbox"] {
    width: 1.5vw;
}

button {
    width: 15vw;
    height: 8vh;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(113, 113, 251);
    color: #000;
    font-weight: 700;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}   

button:hover {
    background-color: rgb(73, 73, 238) ;
}
.btnDiv {
    padding: 1vw 6vw 0 6vw;
}

input[type="text"] {
    font-size: 2vw;
    font-weight: 600;
    padding: 1vw;
}